.demo
{
	margin-top:40px;
}

body {
	background-color: #345645;
}

.form {
	width: 20%;
	margin: auto;
	margin-top: 400px;
}

.text {
	color: #fff;
}

#log {
	width: 20%;
	margin: auto;
	margin-top: 200px;
	font-size: 24px;
	padding: 8px;
}